/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face { font-family: im fell dw pica; 
	src: url("imfelldwpica-regular-webfont.woff2") 
	format("woff2"); font-style: normal; 
	font-weight: 100 900; font-display: swap; }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
	margin-top: 1em;
	margin-left: 1em;
	background-color: #ffffff;
	color: #1e1f1d;
}

#content{
	width: 95%;
}

p {
	position: relative;
	left: 25%;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 55%;
}

code {
	font: normal normal;
	font-size: 90%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: right;
	right: -36%;
}


ul {
	position: relative;
	left: 25%;
	width: 75%;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	padding-left: 1.25em;
	/*text-indent: -1.25em;*/
	text-align: justify;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 80%;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	position: relative;
	color: #f87837;
	text-align: center;
	width: 100%;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 150%;
	margin-top: 0.6em;
	color: #1e1f1d;
	width: 100%;
	text-align: center;
	left: 0%;
}

h2 {
	font-size: 1.1em;
	color: #1e1f1d;
	margin-top: 3em;
	position: relative;
	top: 1.4em;
	text-align: right;
	width: 20%;
	font-weight: 800;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
	color: #1e1f1db0;
	font-weight: 800;
}

h5 {
		font-size: 0.85em;
}

a {
	color: #1e1f1d7a;
	text-decoration:none
}

a:hover {
	color:#1e1f1d7a
}

#webaddress {
	margin-top: 1em;
	position: relative;
	color: #ff5708;
	font-family: im fell dw pica;
	font-size: 100%;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

#webaddress a {
	text-decoration: none;
}

em {
	/* font-weight: bold; */
	font-style: italic;
}

strong {
	font-weight: bold;
}

#address {
	display: none;
}



/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/

/* Estilo CSS para resaltar sintaxis de código */
pre {
  padding: 10px;
  white-space: pre-wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-break: break-all;
  position: relative;
  left: 25%;
  width: 75%;
  margin-bottom: 1.5em;
  margin-top: -0.5em;
  background-color: #1e1f1d;

}

code {
  font-family: "Courier New", monospace;
  display: block;
}

.highlighter-rouge {
  color: #ff691ex|  ;
}

/* Estilos para el cursor intermitente en la terminal */
pre::after {
  content: "_";
  animation: blink 1s infinite;
}

/* Animación para el cursor intermitente */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/* Estilos para diferentes tipos de sintaxis */
/* Puedes personalizar los colores según tus preferencias */

.highlight .n { /* Variables Liquid */
  color: #ff691e;
}

.highlight .s { /* Variables Liquid */
  color: #c0f329;
}

.highlight .sh { /* Palabras clave */
  color: #fffef8;
}
